<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instamina.study.springmvc.demo.dao.UserDao">
    <select id="listAll" resultMap="userList">
        select * from user
    </select>
    <resultMap id="userList" type="user">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="userName" column="user_name"></result>
        <result property="email" column="email"></result>
        <result property="birthday" column="birthday"></result>
        <result property="sex" column="sex"></result>
    </resultMap>
    <select id="getUserById" parameterType="int" resultType="user">
       select * from user where id=#{id}
    </select>
    <delete id="deleteById" parameterType="int" >
        delete from user where id=#{id}
    </delete>
    <insert id="save" parameterType="user">
        insert into user (user_id,user_name,birthday,email,sex) values(#{userId},#{userName},#{birthday},#{email},#{sex})
    </insert>
    <update id="update" parameterType="user">
        update user set user_id=#{userId},user_name=#{userName},birthday=#{birthday},email=#{email},sex=#{sex} where id=#{id}
    </update>
</mapper>